@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.swiper-pagination-bullet {
  background-color: #ffffff;
  opacity: 1;
  transform: translateY(-0.3rem);
}

.swiper-pagination-bullet-active {
  background-color: transparent;
  background-image: url("../../assets/images/icon/pacman-svgrepo-com.svg");
  background-size: cover;
  width: 1.2rem;
  height: 1.2rem;
  transform: translateY(0);
}
