@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Roboto";
    src: url("./src/assets/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Helvatica-Neue-Bold";
    src: url("./src/assets/fonts/HelveticaNeueBold.otf");
}

:root {
    --primaryColor: #055A6E;
    --primaryLight: #90B9B8;
    --whiteColor: #F1EAD8;
    --secondaryColor: #DE4B5A;
    --thirdColor: #EDC13D;
    --titleFont: "Helevetica-Neue-Bold";
    --textFont: "Roboto";
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--whiteColor);
    font-family: var(--textFont);
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    font-family: var(--titleFont);
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--titleFont);
}

h3 {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: var(--titleFont);
}

p {
    font-size: .9rem;
}

header {
    padding: .5rem 1rem;
}

main {
    padding: 1rem;
}

footer {
    padding: 1rem;
}

section {
    width: 100%;
}

@media screen and (min-width: 768px) {
    header {
        padding: 1rem 2rem;
    }
    
    main {
        padding: 2rem;
    }
    
    footer {
        padding: 2rem;
    }
    
}


@media screen and (min-width: 1024px) {
    header {
        padding: 1rem 3rem;
    }
    
    main {
        padding: 3rem;
    }
    
    footer {
        padding: 3rem;
    }
    
}


.swiper-pagination-bullet {
    background-color: #ffffff;
    opacity: 1;
    transform: translateY(-0.3rem);
  }
  
  .swiper-pagination-bullet-active {
    background-color: transparent;
    background-image: url("../../assets/images/icon/pacman-svgrepo-com.svg");
    background-size: cover;
    width: 1.2rem;
    height: 1.2rem;
    transform: translateY(0);
  }