.swiper {
    display: flex;
    flex-direction: column;
  }
  
  .swiper-pagination {
    position: relative;
    margin-top: 1rem;
  }
  
  .swiper-button-prev {
    color: var(--blackColor);
    background-color: var(--whiteColor);
    border-radius: 10px;
    width: 2.5rem;
    height: 4.5rem;
    opacity: 0.7;
    top: 40%;
    transition: all ease 0.3s;
  }
  
  .swiper-button-next {
    color: var(--blackColor);
    background-color: var(--whiteColor);
    border-radius: 10px;
    width: 2.5rem;
    height: 4.5rem;
    opacity: 0.7;
    top: 40%;
    transition: all ease 0.3s;
  }

  .swiper-button-next:hover, .swiper-button-prev:hover {
    opacity: 1;
}
  
  @media screen and (min-width: 768px) {
    .swiper-pagination-bullet {
      width: 0.8rem;
      height: 0.8rem;
    }
  
    .swiper-pagination-bullet-active {
      width: 1rem;
      height: 1rem;
    }
  }
  